@import '../../../variables.scss';

.navbar {
    background: $clr-primary;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

    .cart-nav {
        display: none;

        .cart-count {
            color: white;
            font-weight: bold;
        }
    }

    .scrolled-cart {
        display: inline-block;
        width: 2rem;
        height: 2rem;
        margin-right: 4%;
        margin-bottom: 2rem;
    }

    ul {
        display: flex;
        gap: 5%;
        align-items: center;
        text-decoration: none;
        list-style: none;
        padding: .3em;
        height: 7vh;
        margin-left: 5%;

        a {
            display: inline-block;
            color: $clr-primary-background;
            font-size: 1.8rem;
            padding: .5em;
            text-decoration: none;

            &:hover {
                cursor: pointer;

                &:before {
                    content: "";
                    height: 3px;
                    display: block;
                    width: 100%;
                }

                &::after {
                    content: "";
                    height: 3px;
                    background: rgb(255, 0, 0);
                    display: block;
                    width: 100%;
                    animation: hover-effect 300ms ease-in-out;
                }
            }
        }

        .active {
            &:before {
                content: "";
                height: 3px;
                display: block;
                width: 100%;
            }

            &::after {
                content: "";
                height: 3px;
                background: rgb(255, 255, 255);
                display: block;
                width: 100%;
                animation: hover-effect 300ms ease-in-out;
            }
        }
    }
}

.scrolled {
    position: fixed;
    top: 0;
    z-index: 100;
    height: 11vh;
    align-items: center;
    background: $clr-primary;
}

@keyframes hover-effect {

    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@media screen and (max-width:700px) {
    .navbar {
        ul {
            a {
                font-size: 1.5rem;
            }
        }
    }
}

@media screen and (max-width:600px) {
    .navbar {
        ul {
            a {
                font-size: 1.2rem;
            }
        }

        .scrolled-cart {
            width: 1.3rem;
            height: 1.3rem;
        }
    }
}

@media screen and (max-width:450px) {
    .navbar {
        ul {
            a {
                font-size: 1rem;
            }
        }
    }
}

@media screen and (max-width:400px) {
    .navbar {
        height: 8vh;
        ul {
            a {
                font-size: .85rem;
            }
        }
    }
}