@import '../../variables.scss';

.topBar {
    .top {
        display: grid;
        grid-template-columns: 10% repeat(3, 1fr);
        gap: 5%;


        .logo {
            position: relative;
            top: 1rem;
            left: 3%;
            width: 7vw;
        }

        .phone {
            margin-top: 1rem;
            height: 3rem;
            align-items: center;
            display: flex;

            .red-phone {
                width: 1.7rem;
                animation: phone-rotate 900ms ease-in-out infinite;
                animation-direction: alternate-reverse;
            }

            .phone-number {
                margin-left: 1rem;
                font-size: 1.3rem;
                color: $clr-primary;
                font-weight: bold;
                text-decoration: none;
            }
        }

        .top-info {
            margin-top: 1rem;
            text-align: left;

            .info {
                color: red;
                font-weight: bold;
                font-size: 1.1rem;
            }

            .text {
                font-size: 1.2rem;
                color: $clr-primary;
            }
        }

        .cart {
            width: 40%;

            &:hover {
                cursor: pointer;
            }
        }

    }
}

@keyframes phone-rotate {
    0% {
        transform: rotate(0deg) scale(1);
    }

    100% {
        transform: rotate(60deg) scale(2);
    }
}

@keyframes topbar-animation {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }

}



/************* ---Media Queries---***********/


@media only screen and(max-width:900px) {

    .topBar {
        .top {
            .phone {
                .red-phone {
                    width: 1.4rem;
                }

                .phone-number {
                    font-size: 1rem;
                }
            }
        }
    }

    .topBar {
        .top {
            .top-info {
                .text {
                    font-size: 1rem;
                }

                .info {
                    font-size: 1rem;
                }
            }
        }
    }
}


@media only screen and(max-width:730px) {
    .topBar {
        .top {
            .phone {
                .red-phone {
                    width: 1.2rem;
                }

                .phone-number {
                    font-size: .8rem;
                }
            }
        }
    }

    .topBar {
        .top {
            .top-info {
                .text {
                    font-size: .8rem;
                }

                .info {
                    font-size: .8rem;
                }
            }
        }
    }
}

@media only screen and(max-width:570px) {
    .topBar {
        .top {
            .phone {
                .red-phone {
                    width: 1rem;
                }

                .phone-number {
                    font-size: .6rem;
                }
            }
        }
    }

    .topBar {
        .top {
            .top-info {
                .text {
                    font-size: .6rem;
                }

                .info {
                    font-size: .6rem;
                }
            }
        }
    }
}


@media only screen and(max-width:460px) {
    .topBar {
        .top {
            .phone {
                .red-phone {
                    width: .6rem;
                }

                .phone-number {
                    font-size: .5rem;
                }
            }
        }
    }

    .topBar {
        .top {
            .top-info {
                .text {
                    font-size: .5rem;
                }

                .info {
                    font-size: .5rem;
                }
            }
        }
    }
}

@media only screen and(max-width:460px) {
    .topBar {
        .top {
            .phone {
                margin-top: 0;
                .red-phone {
                    width: .6rem;
                }

                .phone-number {
                    font-size: .5rem;
                }
            }
        }
    }

    .topBar {
        .top {
            display: grid;
            grid-template-columns: 10% repeat(2, 1fr);

            .top-info {
                display: none;
            }
        }
    }
}