@import '../../variables.scss';

.cartPage {
    margin-right: 2rem;
    margin-left: 2rem;

    input {
        cursor: text;
        width: 100%;
        padding: 1rem;
        border: none;
    }

    .link {
        font-size: 1.5rem;
    }

    .title {
        text-align: left;
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .main-content {
        display: flex;
        gap: 2rem;
        flex-direction: column;
        justify-content: center;
        margin-top: 2rem;
        max-width: 650px;
        flex-wrap: wrap;
        border-color: $clr-border-grey;
        margin-bottom: 2rem;
        padding-bottom: 1rem;


        .fragment {
            width: 100%;
            min-width: 300px;
            border: solid 2px;
            border-color: $clr-border-grey;
        }

        .radio-fragment {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            gap: 1rem;
            justify-content: space-between;
            align-items: center;

            .payment-method,
            .delivery-method {
                flex: 1;
                width: 300px;
            }
        }


        .head {
            padding: .7em;
            text-align: start;
            font-weight: bold;
            font-size: 1rem;
            background-color: $clr-primary-background-grey;
        }

        label {
            display: flex;
            cursor: pointer;
            text-align: left;
            margin-left: .5rem;
            position: relative;
            margin-top: 1rem;
            margin-bottom: 1rem;

            input {
                display: inline-block;
                position: absolute;
                top: 5px;
                width: 100%;
                cursor: pointer;
                margin-left: 3rem;
            }
        }

        .comment {
            input {
                line-height: 4rem;
            }
        }
    }
}

.submit {
    font-size: 1.2rem;
    float: left;
    margin-left: 2rem;
    margin-bottom: 2rem;
    padding: 1em;
    background-color: $clr-primary;
    color: white;
    border-radius: 4px;
}

@media only screen and(max-width:1100px) {
    .cartPage {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

@media only screen and(max-width:560px) {
    .cartPage {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}