.container{
    margin:0 2rem;
   

    h3{
      
        margin-top:5rem;
       text-align: left;
    }

    ul{
        text-align: left;
        margin-top: 2rem;
        li{
            margin: 0;
            padding: 0;
            list-style-position: outside;
        }
    }

    h4{margin-top: 2rem;}
}